# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\0.studyNote\tues-edu\micro-edu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
